<!doctype html>
<html>
	<head>

		<meta charset = "utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "/static/style.css">

		
	</head>

	<body>
		
		<h1>
			{% if percentage_correct >= 0.8 %}
				Fantastiskt! Du har koll på det här!
			{% elif percentage_correct < 0.8 and percentage_correct >= 0.5 %}
				Bra jobbat! Kan du ännu bättre?
			{% else %}
				Nja, sådär. Läs på och försök sedan igen!
			{% endif %}
		</h1>

		<h2>Du svarade rätt på {{ correct }} av {{ total }} frågor </h2>


		<p><a href = "{% url 'start_page' %}">
			<button type = "submit">Gör fler quiz!</button>
		</a></p>



	</body>
</html>