<!doctype html>
<html>
	<head>

		<meta charset = "utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "/static/style.css">

		<title> Quiz </title>
		<!--denna skulle jag vilja ha centrerad-->
	</head>
	<body>

		<h1>Testa dina kunskaper!</h1>	


		<!--nedan vill jag ev göra om till kolumner-->

		{% for quiz in quizzes %}
			<p><a href="{% url 'quiz_page' quiz.quiz_number %}" >
				<button type = "submit" >{{ quiz.name }} </button>
			</a></p>
		{% empty %}
			<p><em>Det finns inga frågesporter ännu.</em></p>

		{% endfor %}

		

	</body>
</html>