<!doctype html>
<html>
	<head>

		<meta charset = "utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1">
		<link href="css/bootstrap.min.css" rel=stylesheet>

		<title> Quiz </title>
		<!--denna skulle jag vilja ha centrerad-->
	</head>
	<body>

		<h1>Testa dina kunskaper!</h1>	

		<div class="container">
			<div class ="row">
				<div class = col-md-4>
					<h2>
						<a href = "länk quiz 1">Quiz 1</a>
					</h2>
				</div>	
				<div class = col-md-4>	
					<h2>Quiz 2</h2>
				</div>
				<div class = col-md-4>
					<h2>Qiuz 3</h2>
				</div>
			</div>
		</div>		

		


		<br>

		<p> By: Ida Herbertsson </p>
		<!--denna skulle jag vilja ha centrerad-->

</body>
</html>