body {
	background: rgb(0,0,50);
	font-family: Georgia;
	
}

h1 {
    text-align: center;
    color: rgb(180, 180, 180)
}

h2 {
    text-align: center;
    color: rgb(180, 180, 180);
}

h3 {
    text-align: left;
    color: rgb(180, 180, 180);
}

h4 {
    text-align: center;
    color: rgb(150, 150, 150)
}

h5 {
    text-align: center;
}

h6 {
    text-align: left;
}



p {
	text-align: center;
}

form{
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
	text-align: left;
	 color: rgb(150, 150, 150);
}



